body {
    background-color: rgb(0, 0, 0);
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 7em;
    background-color: #161616;
    position: relative;
    overflow: auto;
  }

  .sidebar a {
      position: relative;
    display: flex;
    color: rgb(208, 208, 208);
    width: 4.5em;
    height: 3em;;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    border-top: solid 0.06em rgb(58, 58, 58);
    border-bottom: solid 0.06em rgb(58, 58, 58);
    
    
  }
  .sidebar a.active {
    position: relative;
   display: flex;
   color: rgb(204, 200, 200);
   width: 4.6em;
   margin-top: 6em;
   height: 3em;;

}
  
  #logoLateral{
      background-color:#000000 ;
      border: none;
      width: 7em;
      height: 7em;
}

  .sidebar a:hover {
      transition: 0.5s;
     background-color: rgb(20, 20, 20);
     color: rgb(253, 116, 11);
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


  /* Media Query */

  
  @media screen and (min-width: 39.5em) {
    div.example {
         font-size: 1em;
    }
    .active{
        margin-top: none;
    }
  }
  
  @media screen and (max-width: 20em) {
    div.example {
      font-size: 1em;
    }
    .active{
        margin-top: none;
    }
  }