body {
    background-color: rgb(59, 59, 59);
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 7em;
    background-color: #1b1b1b;
    position: relative;
    overflow: auto;
  }

  .sidebar a {
      position: relative;
    display: flex;
    color: rgb(208, 208, 208);
    width: 4.5em;
    height: 3em;;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    border-top: solid 0.06em rgb(58, 58, 58);
    border-bottom: solid 0.06em rgb(58, 58, 58);
    text-decoration: none;
  }
  .sidebar a.active {
    position: relative;
   display: flex;
   color: rgb(204, 200, 200);
   width: 4.6em;
   margin-top: 6em;
   height: 3em;;
}

  #logoLateral{
      background-color:#000000 ;
      border: none;
      width: 7em;
      height: 7em;
}
   #textSidebar:hover {
      transform: scale(0.8);
      border: transparent;
      transition: 0.5s;
      background-color: rgb(20, 20, 20);
      color: rgb(253, 116, 11);
  }

  .imagenFondo{
    display: flex;
    position: absolute;

  }
 #imagenFondo1{
   position: relative;
   top: -35em;
   left: 10em;
 }
 #imagenFondo2{
  position: relative;
  top: -28em;
  left: 7em;
}



  /* Media Query */
    
  
  @media screen and (min-width: 39.5em) {
    div.example {
         font-size: 1em;
         margin-top: none;
         position: relative;
         display: flex;
    }
  }
  
  @media screen and (max-width: 20em) {
    div.example {
      font-size: 1em;
    }
    .example a{
      float: top;
    }
   
  }
  /* H1 titulo  */

  .ml15 {
    display: flex;
    position:absolute;
    left: 3em;
    top: 3.5em;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgb(251, 232, 202);
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }
  /* social media  */
  .media{
    margin: 0;
    padding: 0;
    height: 27em;
    width: 7em;
    background-color: #1b1b1b;
    position: relative;
    overflow: auto;
    align-items: center;
  }
  .media a{
    display: flex;
    position: relative;
    top: 3em;
    width: 1em;
    height: 1em;
    color: white;
    margin: 1em;
  }
  .link-sm{
    text-decoration: none;
}
#socialM-1:hover{
    transform: scale(2);
   text-decoration: none;
   color: rgb(221, 80, 45);
}
#socialM-2:hover{
    transform: scale(2);
    color: rgb(49, 149, 207);
}
#socialM-3:hover{
    transform: scale(2);
  color: rgb(24, 86, 167);
}
#socialM-4:hover{
    transform: scale(2);
     text-decoration: none;
     color: rgb(185, 183, 183);
}
/* cursor */
