body{
    background-image: url(img/background-body.jpg);
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.topcontainer{
   background-color: rgb(213, 212, 212);
}
#id-navbar{
    background-color:transparent;
}
#id-navbar:hover{
    transform: scale(1.2);
    color: rgb(24, 24, 24);
}
/* solo para la casilla de historia  */
#id-navbar-historia {
    transform: none;
}
/* ----------- */
.fa{
    color: rgb(231, 231, 231);
}
.a-text{
    text-decoration: none;
    color: rgb(34, 33, 33);
}
.a-text:hover{
    color: rgb(56, 54, 54);
}
.s-top{
    position: relative;
    top: 1px;
}

#buttonsearch{
    border: transparent;
    color:rgb(255, 255, 255) ;
    background-color:transparent;
}
#buttonsearch:hover{
    color:rgb(141, 141, 141);
    transform: scale(1.3);
    border: transparent;
}



/*  Mi Historia */
.container-center{
    position: grid;
    border: black solid 1px ;
    
    background-color: rgb(233, 230, 230);
   
    
    
}
.clearfix {
      display: block;
      clear: both;
      content: "";
    }
    .clearfix img {
        width: 200px;
    }